body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 2em;
}

#layout {
	width: 100vw;
	height: 100vh;
}

#loading {
	display: none;
	position: absolute;
	width: 30vw;
	height: auto;
	top: 50%;
	left: 50%;
	margin: -8.5vw 0 0 -15vw;
}

.fullWidth {
	width: 100%;
}

#erfaanism {
	margin-top: 2vw;
	width: 100%;
}

#enter {
	display: none;
	position: absolute;
	max-width: 90vw;
	height: auto;
	top: 50%;
	left: 50%;
	margin: -22.5vw 0 0 -45vw;
}

#playerSelection {
	display: none;
}

#playerSelectionPlayers {
	margin: 10px 8vw 0 8vw;
}

.playerImages {
	opacity: 0.5;
	margin-top: 20px;
	box-sizing: border-box;
	border: 3px solid #b5b6b5;
	width: 100%;
}

#playerSelected {
	margin-top: 20px;
}

#onPlayer1Image {
	margin-top: 20px;
	width: 100%;
}

#onPlayer2Image {
	margin-top: 20px;
	width: 100%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#star2 {
	width: 100%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#stage1 {
	display: none;
	position: absolute;
	width: 70vw;
	height: auto;
	top: 50%;
	left: 50%;
	margin: -3.5vw 0 0 -35vw;
}