body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 2em;
}

#layout {
	width: 100vw;
	height: 100vh;
}

#loading {
	display: none;
	position: absolute;
	width: 30vw;
	height: auto;
	top: 50%;
	left: 50%;
	margin: -8.5vw 0 0 -15vw;
}

#sega {
	width: 100%;
}

#erfaanism {
	margin-top: 2vw;
	width: 100%;
}

#enter {
	display: none;
	position: absolute;
	max-width: 90vw;
	height: auto;
	top: 50%;
	left: 50%;
	margin: -22.5vw 0 0 -45vw;
}

#enterImg {
	width: 100%;
}

#playerSelection {
	display: none;
	width: 70vw;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
}

#selectPlayer {
	width: 100%;
}

#playerSelectionPlayers {
	margin: 10px 9% 0 9%;
}

.playerNames {
	width: 24%;
	height: auto;
	margin: 0.25%;
}

.playerImages {
	box-sizing: border-box;
	border: 3px solid #b5b6b5;
	width: 24%;
	height: auto;
	margin: 0.5% 0.25%;
}

#onPlayer{
	margin-top: 20px;
	width: 27%;
}

#onPlayerName {
	width: 100%;
}

#onPlayerImage {
	margin-top: 10px;
	width: 100%;
}

#stars {
	margin-top: 20px;
	width: 27%;
}

#star1 {
	width: 20%;
}

#power {
	margin-top: 20px;
	width: 27%;
}

#powerTitle {
	width: 100%;
}